@keyframes blink {
    0% {
        opacity: .1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

.update-text > .dot {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


.update-text > .dot:nth-of-type(2) {
    animation-delay: .2s;
}

.update-text > .dot:nth-of-type(3) {
    animation-delay: .4s;
}
