.loading {
	display: inline-block;
	overflow: hidden;
	height: 1.3em;
	margin-top: -0.3em;
	line-height: 1.5em;
	vertical-align: text-bottom;
}

.loading::after {
	display: inline-table;
	white-space: pre;
	content: "🕐\A🕑\A🕒\A🕓\A🕔\A🕕\A🕖\A🕗\A🕘\A🕙\A🕚\A🕛";
    /* animation: spin12 5s steps(12) infinite; */
    animation-iteration-count: infinite;
    animation-name: spin12;
    animation-timing-function: steps(12);
	width: 1.5em;
}

@keyframes spin12 {
	to {
		transform: translateY(-18.0em);
	}
}